<div class="friend-request-container">

  <b><%= friend.name %></b>
  <div class="friend-request-links ">
    <button type="button" name="button" class="profile-button"><%= link_to 'See Profile', user_path(friend), class: 'profile-link' %></button>


    <div class='accept-form'>
      <%= form_with url: accept_friendship_path, method: :post do |form| %>
      <%= form.hidden_field :friend_id, value: friend.id %>
      <%= form.submit 'Accept', class: 'btn' %>
      <% end %>
    </div>

    <button type="button" name="button" class="profile-button">
    <%= link_to 'Reject', reject_friendship_path(friend), class: 'profile-link'  %>
    </button>
  </div>
</div>
