<section class="user-section">
    <h2><%= @user.name %></h2>
    <div>
      <%= gravatar_image_tag(@user.email, alt: 'Profile Picture', class: 'avatar avatar-sm') %>
    </div>
    <%= render_add_friend(current_user, @user) %>
    <div class="user-page ">
        <div class="timeline">
            <h3>Recent posts:</h3>
            <ul class="posts">
                <%= render @posts %>
            </ul>
        </div>
        <%= user_profile(@user) %>
    </div>
</section>
